<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vip.danielday.permissionlib" >
    <application>
        <activity
            android:name="vip.danielday.permissionrequest.PermissionRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translucent" />
    </application>
</manifest>
